/* CSS for login, register, and landing page */
#mainContent{
    height: 100%;
}

#landingContent, #registerContent, #loginContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    height: 100%;
    background-color: #2f363e;

}

#portalTitle, #registerTitle, #loginTitle{
    font-size: 72px;
    background: -webkit-linear-gradient(-70deg, #F9957F
    10%, #F2F5D0
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login-btn{
    width: 15vw;
    height: 8vh;
    background-color: #CCCCFF;
    box-shadow: 0 10px 0 #7c83bc;
    border-color: transparent;
    border-radius: 0.5vw;
    margin: 1vw;
    font-size: large;
    color: white;
    font-weight: bold;
}

#login-btn:active{
    box-shadow: none;
    transform: translateY(10px);
}

#register-btn{
    width: 15vw;
    height: 8vh;
    border-color: transparent;
    background-color: #81b1de;
    box-shadow: 0 10px 0 #6da4d9;
    border-radius: 0.5vw;
    margin: 1vw;
    color: white;
    font-size: large;
    font-weight: bold;
}

#register-btn:active{
    box-shadow: none;
    transform: translateY(10px);
}

#loginForm, #registerForm{
    color: white;
}

#login_register{
    color: white;
    margin-top: 1vh;
}

#login_register a{
    color:#6da4d9;
}

#login_register a:visited{
    color:#6da4d9;
}

#loginForm div, #registerForm div{
    height: 10vh;
}

#loginForm input, #registerForm input{
    height: 3vh;
    border-radius: 0.2vw;
    box-shadow: none;
}

#signupIn-btn{
    width: 13.3vw;
    height: 4vh;
    border-radius: 1vw;
    color: white;
    background-color: #5CB85C;
    border: 2px solid #5CB85C;
}

#signupIn-btn:hover{
    cursor: pointer;
    background-color: #468d46;
    border: 2px solid #468d46;
}

/* CSS for admin and employee portal navbar */
#employeePortal{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
}

#sideNav{
    position: fixed;
    display: flex;
    padding-top: 5vh;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-width: 20vw;
    max-width: 20vw;
    background-color: #2f363e;
    overflow: auto;
}

.logout-btn{
    display: flex;
    align-items: center;
    width: 15vw;
    color: white;
    position: fixed;
    bottom: 5vh;
}

.logout-btn:hover{
    cursor: pointer;
}

#logout-img{
    height: 5vh;
    width: 3vw;
}

.nav-item {
    width: 15vw;
    text-align: left;
    color: white;
    border: 1px solid transparent;
    padding-left: 2vw;
    border-radius: 1vh;
}

.nav-item:hover{
    cursor: pointer;
}

.active-status, .nav-title{
    width: 15vw;
    text-align: left;
    color: white;
    border: 1px solid transparent;
    padding-left: 2vw;
    border-radius: 1vh;
}

.active-status:hover, .nav-title:hover{
    cursor: default;
}

/* CSS for admin and employee portal */
#portalContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-left: 20vw;
}

/* CSS for timesheet table */
.row{
    padding-right: 4vw;
}

#breaks-table{
    padding-left: 3.5vw;
}

/* CSS for shift options */
#shiftContent{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#shiftOptions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 40%;
    align-items: center;
}

.shiftButtons button{
    height: 8vh;
    width: 15vw;
    margin: 1vw;
    border-radius: 1vw;
    box-shadow: none;
    border: none;
}

#clockIn-btn{
    background-color: #99CD38;
}
#clockIn-btn:hover{
    background-color: #83af30;
}

#clockOut-btn{
    background-color: #00ABEF;
}

#clockOut-btn:hover{
    background-color: #0186bb;
}

button#break.breakStart, button#break.breakEnd{
    background-color: #F9AF57;
}

button#break.breakStart:hover, button#break.breakEnd:hover{
    background-color: #F7941F;
}

button#lunch.breakStart, button#lunch.breakEnd{
    background-color: #FBD554;
}

button#lunch.breakStart:hover, button#lunch.breakEnd:hover{
    background-color: #d4b348;
}
