/* CSS for login, register, and landing page */
#mainContent{
    height: 100%;
}

#landingContent, #registerContent, #loginContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    height: 100%;
    background-color: #2f363e;

}

#portalTitle, #registerTitle, #loginTitle{
    font-size: 72px;
    background: -webkit-linear-gradient(-70deg, #F9957F
    10%, #F2F5D0
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login-btn{
    width: 15vw;
    height: 8vh;
    background-color: #CCCCFF;
    box-shadow: 0 10px 0 #7c83bc;
    border-color: transparent;
    border-radius: 0.5vw;
    margin: 1vw;
    font-size: large;
    color: white;
    font-weight: bold;
}

#login-btn:active{
    box-shadow: none;
    transform: translateY(10px);
}

#register-btn{
    width: 15vw;
    height: 8vh;
    border-color: transparent;
    background-color: #81b1de;
    box-shadow: 0 10px 0 #6da4d9;
    border-radius: 0.5vw;
    margin: 1vw;
    color: white;
    font-size: large;
    font-weight: bold;
}

#register-btn:active{
    box-shadow: none;
    transform: translateY(10px);
}

/* CSS for admin and employee portal navbar */
#employeePortal{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#sideNav{
    display: flex;
    padding-top: 5vh;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    min-width: 20vw;
    max-width: 20vw;
    background-color: #2f363e;
}

.logout-btn{
    display: flex;
    align-items: center;
    width: 15vw;
    color: white;
    position: fixed;
    bottom: 5vh;
}

.logout-btn:hover{
    cursor: pointer;
}

#logout-img{
    height: 5vh;
    width: 3vw;
}

.nav-item {
    width: 15vw;
    text-align: left;
    color: white;
    border: 1px solid transparent;
    padding-left: 2vw;
    border-radius: 1vh;
}

.nav-item:hover{
    cursor: pointer;
}

.active-status, .nav-title{
    width: 15vw;
    text-align: left;
    color: white;
    border: 1px solid transparent;
    padding-left: 2vw;
    border-radius: 1vh;
}

.active-status:hover, .nav-title:hover{
    cursor: default;
}

/* CSS for admin and employee portal */
#portalContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row{
    padding-right: 4vw;
}

#breaks-table{
    padding-left: 3.5vw;
}